.message-row-area {
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    z-index: 3;
    
    color: #fff;

    &.message-row-area {
        margin-top: 10px;
    }

    .message-container {
        display: flex;
        height: fit-content;
        width: fit-content;
        max-width: max-content;
        overflow-wrap: break-word;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
        background: #176b5b;

        >span {
            margin: 10px 20px 10px 20px;
        }
    }
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}